body { display: flex; margin: 0; font-family: sans-serif; height: 100vh; }
#side-menu { width: 320px; background: #fdfdfd; padding: 20px; border-right: 1px solid #ccc; overflow-y: auto; }
#networkCanvas { flex-grow: 1; touch-action: none; }
.ltx-group { background: white; padding: 15px; margin-bottom: 20px; border: 1px solid #ddd; }
